<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
      <services>
          <service name="SkillsCrafter.SCService.Implementations.SCService">
              <endpoint address="SCService" binding="basicHttpBinding" bindingConfiguration="ServiceBinding" contract="SkillsCrafter.SCService.Contracts.ILoginService"></endpoint>
              <endpoint address="SCService" binding="basicHttpBinding" bindingConfiguration="ServiceBinding" contract="SkillsCrafter.SCService.Contracts.IMainService"></endpoint>
              <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" ></endpoint>
              <host>
                  <baseAddresses>
                      <add baseAddress="http://localhost:8080/SkillsCrafter/SCService/" />
                  </baseAddresses>
              </host>
          </service>
      </services>
  </system.serviceModel>
  <behaviors>
    <serviceBehaviors>
      <behavior name="">
        <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        <serviceDebug includeExceptionDetailInFaults="false" />
      </behavior>
    </serviceBehaviors>
  </behaviors>
  <bindings>
    <basicHttpBinding>
				<binding name="ServiceBinding" sendTimeout="05:00:00" maxReceivedMessageSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
					<security>
					</security>
				</binding>
			</basicHttpBinding>
  </bindings>
</configuration>
