<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="SQLCS" connectionString="Data Source=APT04-G0LVR72\SQL2016;Initial Catalog=SkillsCrafter;Integrated Security=False;User ID=sa;Password=abc-123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="SkillsCrafter.SCService.Implementations.SCService" behaviorConfiguration="mexBehaviour">
        <endpoint address="SCService" binding="basicHttpBinding" bindingConfiguration="ServiceBinding" contract="SkillsCrafter.SCService.Contracts.ILoginService"></endpoint>
        <endpoint address="SCService" binding="basicHttpBinding" bindingConfiguration="ServiceBinding" contract="SkillsCrafter.SCService.Contracts.IMainService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceBinding" sendTimeout="05:00:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
          <security>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>